body {
	height: 100%; 
	padding:0; 
	margin:0; 
	font: 10pt/1.4 Helvetica, Arial, sans-serif, Verdana; 
	padding-left: 1em; 
	padding-right: 1em; 
	-webkit-text-size-adjust: 95%; 
	min-width: 320px;}
}
div {
	margin:1em 0;
}

#container {
	text-align: left; 
/*	min-height: 100%; */	
	height: auto !important; 
	height: 100%; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom:-4em; 
	margin-top:1em;
	padding: 0;s
}
hr { width: auto; height: 1px; border:0; border-top: 1px solid black; margin-top:1em; margin-bottom:1em;}	

a {
	text-decoration: none;
	color:black;
	cursor:pointer;
}
a:hover { /*text-decoration: underline;*/ color: #46FDFD; }
.active { font-weight: bold; }
.hidden {
	display:none;
}
#nouns, #prefixes, .prefix {
	-webkit-columns: 150px;
	-moz-columns: 150px;
	columns: 150px;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
}

#counter {
	float:right;
}
#menu {
	float:left;
}
#set {
	margin-left:150px;
}

#def-wrap {
	
}

#def {
	
}

#prefix-wrap {
	float:left;
}

#noun-wrap {
	margin-left:150px;
}

#noun-def h2, #noun-def h3, #noun-def p {
	display:none;
}

#prefix-word, #noun-word {
	font-weight: bold;
	margin-bottom:0.5em;
}

@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ 
	#container	{max-width: 600px}
}

@media (min-width:620px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
	#container	{max-width: 760px}
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
	#container	{max-width: 1088px}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
	.container	{max-width: 1700px;}
}